/* Add CSS Styling */
.odds {
    background-color: rgb(230, 175, 175);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    font-size: 36px;
    color: rgb(0, 0, 255)
}

#fourth {
    font-size: 24px;
    background-color: rgb(115, 255, 0);
    font-weight: bold;
}

.third {
    font-size: 24px;
}